**/.DS_Store
**/venv
pkmn_api/target
**/Cargo.lock
**/*.db

Pkmn/Pictures
Pkmn/PicturesHQ
Pkmn/PicturesHQ-Scaled
Pkmn/QR_codes
pkmn_gui/push_to_server.sh
pkmn_gui/push_to_test.sh
pkmn_gui/release.sh
Testing/logincodes

**/*.pem
uploads
**/*.log